html {
    height: 100%;
}


a {
    text-decoration: none;
}

.social-image{
    width: 30px;
    margin: 15px;
}
.main{
    
}
.content{
    display:flex;
    width:0%;
}
.main-image{
   display: flex;
   justify-content:center;
}

.header{
display:flex;
justify-content:center;
}
.navbar{
display:flex;
justify-content:space-around;
}
.footer{
    display:flex;
justify-content:space-around;
}

.aboutMain{
    display: flex;
    
}
.leftPane{
font-size: 30px;
width:70%;
}


.gallery{
display:flex;
flex-wrap:wrap;
justify-content:space-between;
}
.rightPane{
    width:70%;
}
.thumbnail-image{
    padding:100px;
   
}
